<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>com.Project.start</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f6473">  <td>22/01/12 16:26:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_Anotation.afterMethod()[pri:0, instance:com.Project.start.TestNG_Anotation@1753acfe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>22/01/12 16:26:30</td>   <td>32</td> <td title="&lt;&lt;Sample.aftersuiteMethod()[pri:0, instance:com.Project.start.Sample@3532ec19]">&lt;&lt;aftersuiteMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>22/01/12 16:26:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_Anotation.beforeMethod()[pri:0, instance:com.Project.start.TestNG_Anotation@1753acfe]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>22/01/12 16:26:30</td>   <td>-15</td> <td title="&gt;&gt;Sample.beforeSuiteMethode()[pri:0, instance:com.Project.start.Sample@3532ec19]">&gt;&gt;beforeSuiteMethode</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@446073433</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>22/01/12 16:26:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Anotation.beforeSuiteMethode()[pri:0, instance:com.Project.start.TestNG_Anotation@1753acfe]">beforeSuiteMethode</td> 
  <td>main@446073433</td>   <td></td> </tr>
</table>
