<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f6473">  <td>22/03/05 10:13:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseRunner.DropdownValidation()[pri:0, instance:PageTest.TestCaseRunner@51565ec2]">DropdownValidation</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>22/03/05 10:13:20</td>   <td>2438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCaseRunner.Login()[pri:1, instance:PageTest.TestCaseRunner@51565ec2]">Login</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>22/03/05 10:13:04</td>   <td>-13558</td> <td>&nbsp;</td><td title="&gt;&gt;TestCaseRunner.NavigationToURL()[pri:0, instance:PageTest.TestCaseRunner@51565ec2]">&gt;&gt;NavigationToURL</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="b57a94">  <td>22/03/05 10:13:21</td>   <td>3630</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:PageTest.TestCaseRunner@51565ec2]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1418621776</td>   <td></td> </tr>
</table>
