<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7f6473">  <td>22/01/12 18:19:02</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Sample.afterTestMethod()[pri:0, instance:com.Project.start.Sample@58651fd0]">&lt;&lt;afterTestMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>22/01/12 18:19:02</td>   <td>16</td> <td title="&lt;&lt;Sample.aftersuiteMethod()[pri:0, instance:com.Project.start.Sample@58651fd0]">&lt;&lt;aftersuiteMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>22/01/12 18:19:02</td>   <td>-16</td> <td title="&gt;&gt;Sample.beforeSuiteMethode()[pri:0, instance:com.Project.start.Sample@58651fd0]">&gt;&gt;beforeSuiteMethode</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="7f6473">  <td>22/01/12 18:19:02</td>   <td>-16</td> <td>&nbsp;</td><td title="&gt;&gt;Sample.beforeTestMethod()[pri:0, instance:com.Project.start.Sample@58651fd0]">&gt;&gt;beforeTestMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
</table>
